<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

	<div id="app">
		<div th:replace="fragments/jumbotron :: jumbotron"></div>
		
		<!-- inline template (can use thymeleaf within an inline template) -->
		<app-contactus inline-template>
			<div>
				<h3>Hello from inline template {{name}}</h3>
				<div th:text="${pageTitle}">Page title</div>
				<input v-model="name" type="text" />
			</div>
		</app-contactus>
		<br>
		
		<div th:if="${signupcomplete}">
			<app-notification v-if="showNotifications" :message="'Signup complete'"></app-notification>
		</div>
		
		<div class="container">
			<div class="row" th:if="${filtered}">
				<div class="col-xs-12 text-center">
					<a th:href="@{/}" href="/">View all</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a th:href="@{/newsletter}" href="/newsletter.html"><button class="btn btn-info"><span class="glyphicon glyphicon-bell"></span>&nbsp;Newsletter</button></a>
				</div>
			</div>
		    <div class="row">
		        <div class="col-md-12">
		            <h1 th:text="#{index.courses.headline}">Spring Framework Guru Courses</h1>
		        </div>
		    </div>
		    <div class="row course-list list">
		        <div class="col-md-4" th:each="p,it : ${productList}">
		        	<!-- <small th:text="'index object: ' + ${it}"></small> -->
		            <div th:replace="fragments/productdiv :: productdiv"></div>
		        </div>
		    </div>
		</div>
	</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>