<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
	
<body>
	<div id="app">
		<div th:replace="fragments/jumbotron :: jumbotron"></div>
	
		<div class="row">
			<div class="col-xs-12 text-center">
				<a th:href="@{/}" href="/">Home</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 text-center">
				<form class="form-horizontal" th:object="${signupNewsletterCommand}" th:action="@{/newsletter/signup}" method="post">
				
					<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
						Please enter your name and a valid email address.
					</div>
				
					<input type="text" 
						th:field="*{name}" th:errorclass="form-error" 
						class="form-control" placeholder="Name" />
					<input type="text" 
						th:field="*{email}" th:errorclass="form-error" 
						class="form-control" placeholder="Email" />
					<label>Receive special offers&nbsp;
						<input type="checkbox" th:field="*{receiveOffers}" />
					</label>
					<button class="btn btn-success" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>